<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @tipo_de_telefono.nombre %>
</p>


<%= link_to 'Edit', edit_tipo_de_telefono_path(@tipo_de_telefono) %> |
<%= link_to 'Back', tipo_de_telefonos_path %>
